kicad/fp-info-cache
kicad/fp-lib-table
kicad/sym-lib-table
/kicad/ansic-backups
kicad/backplate/fp-info-cache
kicad/plate20/fp-info-cache
kicad/plate21/fp-info-cache
kicad/backplate/fp-lib-table
/kicad/ansicSolder-backups
kicad/GLP3'0/fp-info-cache
kicad/GLP3'0/fp-lib-table
kicad/GLP3'0/sym-lib-table
